<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCps6hc2KYJ6NsBy1UY2wIq7P8svd6HR9s</string>
	<key>GCM_SENDER_ID</key>
	<string>578316733919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dalely</string>
	<key>PROJECT_ID</key>
	<string>dalel-f7a79</string>
	<key>STORAGE_BUCKET</key>
	<string>dalel-f7a79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578316733919:ios:5a1c49076cd5ae18a4486a</string>
</dict>
</plist>